.card-container:has(.float-card:hover) .float-card{
    color: #555;
    border: 2px solid rgb(0, 70, 22);
}

.card-container:has(.float-card:hover) .float-card:hover{
    color: var(--fg);
    border: 2px solid rgb(0, 255, 81);
}

.float-card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 12em;
    height: 6em;
    font-size: 2em;
    border: 2px solid rgb(0, 255, 81);
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    color: var(--fg);
    transition: .4s;
}

.float-card::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: var(--bg-image), radial-gradient(circle, rgba(201,201,201,1) 0%, rgba(10,10,10,1) 100%);
    background-blend-mode: darken;
    background-position: center center;
    background-size: cover;
    opacity: .2;
    z-index: -2;
    transition: opacity .3s ease-in-out;
}

.float-card:hover::before {
    opacity: .35;
}

.float-card::after {
    content: "";
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: linear-gradient(0deg, rgb(4, 36, 0) 0, rgb(0, 255, 81) 10px);
    background-size: 100% 10px;
    background-repeat: repeat-y;
    animation: swipe-bg 100s linear infinite;
    opacity: .1;
}

.float-card:hover::after {
    /* background-image: linear-gradient(0deg, rgb(26, 0, 36) 0, rgb(166, 0, 255) 10px); */
    animation-timing-function: cubic-bezier(0, 1.9, 1, -0.98);
    animation-duration: 5s;
    opacity: .2;
}


.float-card-link {
    text-decoration: none;
    color: inherit;
    /* transform: rotate3d(1, 1, 0, 40deg) translateZ(1px); */
    transform: rotateY(40deg) rotateX(20deg) translateZ(1px);
    transition: all 3s, transform 2s, opacity 1s;
}

.float-card-link:nth-child(2) {
    transform: rotateY(-40deg) rotateX(20deg) translateZ(1px);
    /* transform: rotate3d(1, -1, 0, 40deg) translateZ(1px); */
}

@keyframes swipe-bg {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 0 -1000%;
    }
}

.card-container:has(.active-card) .float-card-link:not(.active-card){
    opacity: 0;
    pointer-events: none;
}


.active-card{
    transition: all 3s, transform 2s;
    transform: rotateY(0deg) rotateX(0deg) translateZ(100px) scale(10) !important;
    opacity: 0;
    pointer-events: none;
}